%br
-if not notice.nil?
  .alert.alert-success
    =notice
.jumbotron
  .container
    =image_tag 'derek.png', class: 'centered'
    %h3.text-center Derek's nickname of the week is:
    %h1.text-center{style: "font-size: 100.5px"}= @nickname.name
%br
%hr
=render 'suggestions/form', title: 'Want to suggest a nickname?'