%br
-if not notice.nil?
  .alert.alert-success
    =notice
.jumbotron
  .container
    =image_tag 'derek.png', class: 'centered'
    %h3.text-center Derek's nickname of the week is:
    - if not @nickname.nil?
      %h1.text-center= @nickname.name
    - else
      %h1.text-center Nothing right now :(
%br
%hr
=render 'suggestions/form', title: 'Want to suggest a nickname?'

:scss
  h1{
    font-size: 100.5px !important;
  }
  @media (max-width: 1000px) {
    h1{
      font-size: 90px !important;
    }
  }