// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 100.5px !important;
}
@media (max-width: 1000px) {
  h1{
    font-size: 90px !important;
  }
}